@model WebYMCA.Models.YMCA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YMCA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Gender")
        </dt>
        <dd class = "col-sm-10">
            @if (Model.IsMale)
                    {
                        @string.Format("Male")
                    }
                    else
                    {
                        @string.Format("Female")
                    }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculateYMCA.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculateYMCA.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
